<% 
  const fullName = (locals.isMember || locals.isMyPost) ? `${post.first_name} ${post.last_name}` : "-";
  const username = (locals.isMember || locals.isMyPost) ? post.username : "anon";
%>


<article class="post">
  <a href="/messages/single/<%= post.id %>">
    <div class="post__header">
      <h3 class="post__title"><%= post.title %></h3>
      <div class="post__full-name-wrapper">
      <span class="post__full-name">
        <%= fullName %> 
      </span>
      </div>
      <div class="post__username-wrapper">
        <span class="post__username">@<%= username %></span>
      </div>
    </div>
    <div class="post__text-wrapper">
      <p class="post__text"><%= post.text %></p>
    </div>
  </a>
</article>